.features
  .features__content
    .features__item
      img.features__image(src="./assets/images/award.png" alt="award icon")
      h3.features__title Inteligence
      p.features__text Quality
    .features__item
      img.features__image(src="./assets/images/tachometer.png" alt="tachometer icon")
      h3.features__title Answer
      p.features__text Quick
    .features__item
      img.features__image(src="./assets/images/clock.png" alt="clock icon")
      h3.features__title Available
      p.features__text 24h/24h – 365days/365