footer.footer
  .footer__content
    a.brand(href="./index.html").brand--footer
      .brand__content
        span.brand__title Customer
        span.brand__title Service
    p.footer__text.
      118 202 The smart number is at your disposal to accompany you 365D/365 in your research. Do not forget to add it to the list of your useful numbers.
    .footer__links
      a(href="./conditions-generales-dutilisation.html") Privacy Policy
      a(href="./legal.html") Legal
      a(href="./contact.html") Contact
  .footer__company
    p &copy; Service provided by Sumando Servicios Inteligentes S.L.
    a(href="mailto:customer@sumando.info") customer@sumando.info
    a(href="tel:0333 030 0102") 0333 030 0102