header.header
  .header__container
    a.brand(href="./index.html")
      .brand__content
        span.brand__title Customer
        span.brand__title Service
    .menu
      .menu__line
      nav#menuNav.menu__nav
        a(class="menu__link" href="./conditions-generales-dutilisation.html") Privacy Policy
        a(class="menu__link" href="./legal.html") legal
        a(class="menu__link" href="./contacto.html") Contacto
      #menuBtn.menu__btn
        span.menu__shape