doctype html
html(lang="en")
  head    
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Contact number by phone, contact phone number uk, helpline, customer service
    meta(name="description" content="Your customer service and contact phone number in uk, 24 hour customer service number.")
    link(rel="icon" type="image/png" href="./assets/images/favicon.png")
    // build:css css/main.min.css 
    link(rel="stylesheet" href="./css/main.css")
    // endbuild 
  body

    // header 
    include includes/header.pug

    // hero 
    include includes/hero.pug

    // section 
    section.common.max--width
      .common__container
        .common__content
          h2.common__title.
            We are an information service and telephone help not associated with any public or private company
          p.common__text.
            We can inform you about the service of your choice thanks to our database updated periodically.
          p.common__text.
            If you are looking for the amount of customer service from your provider, we can provide it in the same way as your favorite e-commerce site.
          p.common__text.
            It is not necessary to find the correct number of customer service you need, we will inform you immediately of the correct contact number.
          p.common__text.
            Get more information on how to get in touch Attention, some brands may not make a contact number available to their customers, in which case we will inform you of an email address or an account on the networks. Social.
          p.common__text
            |You can search us, wiht this keywords: 
            b call
            |, 
            b contact number
            |, 
            b contact by phone
            |, 
            b contact phone number
            |, 
            b contact number uk
            |, 
            b helpline
            |, 
            b customer service
            |, 
            b customer service number
            |, 
            b customer service phone
            |, 
            b customer service telephone number
            |, 
            b customer service phone number
            |, 
            b customer service phone number uk
            |, 
            b customer service number uk
            |, 
            b customer service uk
            |, 
            b contact phone number uk
            |, 
            b 24 hour customer service number
            |, 
            b contact number uk
            |, 
            b telephone number
            |, 
            b phone number.

    // section 
    section.common.max--width
      .common__container
        .common__content
          h2.common__title.text-up Our Skills
          include includes/features.pug

    // cta 
    include includes/cta.pug
            

    // footer 
    include includes/footer.pug
    
    // scripts 
    include includes/scripts.pug