.contact {
  display: flex;
  // justify-content: center;
  // align-items: center;
  flex-direction: column;
  // flex-wrap: wrap;
  @include respond-to(small) {
    display: flex;
    // flex-direction: row;
    // justify-content: space-between;
    align-items: center;
  }
  &__text {
    // color: $white;
    padding: 0 5%;
  }
  &__form {
    width: 100%;
    margin-bottom: 15%;
    padding-top: 10%;
    @include respond-to(small) {
      margin-bottom: 0;
      padding-top: 0;
    }
    @include respond-to(large) {
      // width: 40%;
      padding-top: 5%;
    }
  }
  &__map {
    position: relative;
    margin: 0 auto;
    padding-bottom: 75%;
    width: 90%;
    height: 0;
    overflow: hidden;
    @include respond-to(small) {
      margin-top: 0;
    }
    @include respond-to(large) {
      padding-bottom: 56.25%;
      // width: 60%;
    }
    & iframe {
      position:absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}