.features {
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    margin-bottom: 10%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    @include respond-to(extra-small) {
      margin: 15px 10px;
    }
    @include respond-to(small) {
      margin: 0;
      width: 25%;
    }
    @include respond-to(large) {
      // width: 470px;
    }
    @include respond-to(extra-large) {
      padding: 40px;
      width: 800px;
    }
  }
  &__title {
    padding-bottom: 10px;
    font-size: 1.2rem;
    line-height: 1;
    letter-spacing: 2px;
    @include respond-to(tiny) {
      font-size: 1.4rem;
    }
    @include respond-to(extra-large) {
      font-size: 2rem;
    }
  }
  &__text {
    background-color: $light-gray;
    padding: 2% 5%;    
    font-size: 1rem;
    line-height: 1.2;
    @include respond-to(small) {
      font-size: 0.8rem;
    }
    @include respond-to(medium) {
      font-size: 1.2rem;
    }
    @include respond-to(extra-large) {
      font-size: 2rem;
    }
  }
  &__image {
    margin-bottom: 5%;
    width: 30%;
    height: auto;
    filter: drop-shadow(1px 1px 0px $black);
  }
}